@import '~assets/sass/_mixins.scss';
@import '~assets/sass/_variables.scss';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.section-title{
    font-family: inherit;
    font-weight: 400;
    text-align: center;
    margin: 35px 0 30px 0;
}
ngx-carousel{
    margin-bottom: 30px;
}
ngx-item{
    text-align: center;

    .movie-card{
        width: 200px;
        height: 300px;
        overflow: hidden;

        img{
            border-radius: 10px;
            width: 200px;
            height: 300px;
        }
    }
}
.icon-circle-wrapper{
    @include grid-container-center;
    position: absolute;
    margin-top: -50px;
    top: 50%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid 2px $color-font-faded;
    color: $color-font-faded;
    cursor: pointer;

    i{
        font-size: 30px;
        color: inherit;
    }
}
.icon-circle-wrapper:hover{
    border-color: $color-font-main;
    color: $color-font-main;
}
.leftRs, .rightRs{
    position: absolute;
    top: 0;
    height: 100%;
    width: 200px;
}
@media only screen and (max-width: 768px) {
    .leftRs, .rightRs{
        width: 30px;
    }
    .icon-circle-wrapper {
        width: 30px;
        height: 30px;

        i{
            font-size: 24px;
        }
    }
}
.leftRs {
    @include gradient-l2r;
    left: 0;
    .icon-circle-wrapper{
        left: 0;
    }
}
.rightRs {
    @include gradient-r2l;
    right: 0;
    .icon-circle-wrapper{
        right: 0;
    }
}
