<div  class="margin-8">
    <h2 class="section-title">Your weekend buddy for this week</h2>
    <ngx-carousel
        [inputs]="moviesCarousel">
        <ngx-item NgxCarouselItem *ngFor="let movieCard of actualMovieCards">
            <a class="movie-card" [routerLink]="'/movie/' + movieCard.id">
                <img [src]="movieCard.posterUrl" [alt]="movieCard.title" [title]="movieCard.title"/>
            </a>
        </ngx-item>

        <div NgxCarouselPrev class='leftRs'>
            <div class="icon-circle-wrapper">
                <i class="material-icons">arrow_back</i>
            </div>
        </div>
        <div NgxCarouselNext class='rightRs'>
            <div class="icon-circle-wrapper">
                <i class="material-icons">arrow_forward</i>
            </div>
        </div>
    </ngx-carousel>
</div>
