<div class="movie-backdrop" [style]="getBackdropStyle(movie?.backdropUrl)"></div>
<div class="movie-details-container">
    <img class="movie-poster" [src]="movie?.posterUrl || ''">
    <div class="movie-info-wrapper">
        <div class="movie-genres-wrapper">
            <div *ngFor="let g of movie?.genres" class="genre-pill">{{g}}</div>
        </div>
        <h1>{{movie?.title}}</h1>
        <p>{{movie?.overview}}</p>
        <div class="movie-credits-wrapper">
            <label>Release Date:</label>
            <h4>{{movie?.releaseDate.toLocaleDateString()}}</h4>
            <label>Directed By:</label>
            <h4>{{movie?.director}}</h4>
            <label>Starring:</label>
            <h4 >{{movie?.getActorsNames(5).join(", ")}}</h4>
        </div>
        <div class="movie-info-stats-wrapper">
            <div class="movie-info-stats">
                <h2>{{movie?.voteAverage.toFixed(1)}}</h2>
                <h4>Rating</h4>
            </div>
            <div class="movie-info-stats">
                <h2>{{movie?.voteCount}}</h2>
                <h4>Votes</h4>
            </div>
            <div class="movie-info-stats">
                <h2>{{movie?.popularity.toFixed(1)}}</h2>
                <h4>Popularity</h4>
            </div>
        </div>
    </div>
    <div class="btn-schedule-container">
        <a class="btn-schedule"
           [routerLink]="'/movie/' + movie?.id + '/schedule'"
            *ngIf="scheduleAvailable">
            Schedule and tickets
        </a>
    </div>
</div>

