@import '~assets/sass/variables';

:host {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;

    .movie-backdrop {
        z-index: -1;
        position: absolute;
        filter: blur(15px);
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .movie-details-container {
        padding-top: 80px;
        display: grid;
        grid-template-columns: 1fr 35vw;
        grid-template-rows: 2fr;
        grid-column-gap: $discover-movies-grid-padding;
        grid-row-gap: 40px;

        img.movie-poster {
            justify-self: end;
            border-radius: 10px;
            height: 100%;
            width: auto;
        }
        .movie-info-wrapper {
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: 1fr;
            grid-auto-flow: row;
            align-content: start;

            h1 {
                margin: 0;
                font-weight: normal;
                align-self: start;
            }
            .movie-genres-wrapper {

                .genre-pill {
                    color: $color-font-faded;
                    border: solid 1px $color-font-faded;
                    border-radius: 25px;
                    padding: 4px 10px;
                    display: inline-block;
                    margin: 0 10px 10px 0;
                }
            }
            label.movie-release-date {
                margin: 5px 0;
                font-weight: bold;
                color: $color-font-faded;
            }
            p {
                margin: 10px 0 15px 0;
                font-weight: lighter;
                color: $color-font-faded;
            }
            .movie-credits-wrapper {
                display: grid;
                grid-template-columns: 110px 1fr;
                grid-auto-flow: row;
                grid-gap: 10px 20px;
                margin: 0 0 20px 0;
                h4 {
                    margin: 0;
                }
            }
            .movie-info-stats-wrapper {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 1fr;
                border-top: solid 1px $color-thin-line;

                .movie-info-stats {
                    padding: 5px 0;
                    border-right: solid 1px $color-thin-line;
                    justify-content: center;
                    h2, h4 {
                        text-align: center;
                        margin: 0;
                        font-weight: 400;
                    }
                    h4 {
                        font-weight: 200;
                        color: $color-font-faded;
                    }
                }
                .movie-info-stats:last-child {
                    border-right: 0;
                }
            }
        }

        .btn-schedule-container{
            grid-row: 2 / span 1;
            grid-column: 1 / span 2;
            display: grid;
            justify-items: center;
            justify-content: center;
            align-content: center;

            a.btn-schedule{
                font-family: 'Oxygen', sans-serif !important;
                font-weight: bold;
                color: inherit;
                text-align: center;
                padding: 16px 30px;
                text-decoration: none;
                border-radius: 3px;
                background-color: $color-primary;
                cursor: pointer;
                border: 0;
                font-size: 20px;
            }
            a.btn-schedule:hover{
                background-color: $color-primary-active;
            }
        }

    }
    @media screen and (max-width: $screen-small) {
        .movie-details-container {
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            grid-column-gap: $discover-movies-grid-padding-sm;
            grid-row-gap: 0;
            margin-top: 75px;
            padding: 12px;

            img.movie-poster{
                justify-self: center;
                height: auto;
                grid-column: 1 / span 1;
                grid-row: 1 / span 2;
            }

            .movie-info-wrapper {
                grid-column: 2 / span 1;
                grid-row: 1 / span 1;
            }

            .btn-schedule-container {
                grid-column: 2 / span 1;
                grid-row: 2 / span 1;
                margin: 10px;
            }
        }

    }

    @media screen and (max-width: 780px) {
        .movie-details-container {
            grid-template-columns: 1fr;
            grid-auto-flow: row;
            grid-row-gap: $discover-movies-grid-padding-sm;
            margin-top: 75px;
            padding: 12px;

            img.movie-poster{
                justify-self: center;
                height: auto;
                grid-column: 1 / span 1;
                grid-row: 1 / span 1;
            }

            .movie-info-wrapper {
                grid-column: 1 / span 1;
                grid-row: 2 / span 1;
            }

            .btn-schedule-container {
                grid-column: 1 / span 1;
                grid-row: 3 / span 1;
                margin: 10px;
            }
        }

    }
}
