@import '~assets/sass/variables';

:host {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    display: grid;
    align-items: center;
    align-content: start;
    justify-items: center;

    .movie-backdrop {
        z-index: -1;
        position: absolute;
        filter: blur(15px);
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    h1 {
        padding-top: 80px;
        margin-top: 0;
        font-weight: normal;
    }
    .movie-schedule-options {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-flow: column;
        align-items: center;
        justify-items: center;
        grid-column-gap: 30px;
        margin-bottom: 30px;

        .movie-schedule-date, .movie-schedule-hall, .movie-schedule-time {
            display: grid;
            grid-auto-flow: row;
            justify-items: start;
            align-items: center;
            align-content: center;
            grid-row-gap: 10px;

            label {
                font-size: 20px;
                font-weight: bold;
            }
            select {
                background-color: transparent;
                color: $color-font-main;
                font-size: 16px;
                padding: 8px 5px;
                border: 1px solid $color-thin-line;
                border-radius: 3px;
                min-width: 150px;

                option {
                    background-color: $color-bg-main;
                }
            }

            select[disabled] {
                cursor: not-allowed;
            }
        }
    }

    .movie-tickets-cost {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        justify-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        grid-column-gap: 50px;

        .movie-tickets-cost-el {
            display: grid;
            label {
                color: $color-font-faded;
            }
            h4 {
                margin: 5px 0 0 0;
            }
        }

        button.btn-secondary{
            font-family: 'Oxygen', sans-serif !important;
            font-weight: bold;
            color: inherit;
            text-align: center;
            padding: 12px 24px;
            text-decoration: none;
            border-radius: 3px;
            background-color: $color-info;
            cursor: pointer;
            border: 0;
            font-size: 18px;
        }
        button.btn-secondary:hover{
            background-color: $color-info-active;
        }
        button.btn-secondary[disabled] {
            background-color: $color-bg-light;
            cursor: not-allowed;
        }
    }

    app-cinema-hall {
        margin-bottom: 30px;
    }
}
