<div class="movie-backdrop" [style]="getBackdropStyle(movie?.backdropUrl)"></div>
<h1>{{movie?.title || movieTitle}} schedule & tickets</h1>
<div class="movie-schedule-options">
    <div class="movie-schedule-date">
        <label for="showDate">Date:</label>
        <select id="showDate" name="showDate"
                [(ngModel)]="selectedDate"
                (ngModelChange)="onChangeDate($event)">
            <option *ngFor="let date of getAvailableDates(movieShows)" [value]="date">{{date}}</option>
        </select>
    </div>
    <div class="movie-schedule-hall">
        <label for="showHall">Hall:</label>
        <select id="showHall" name="showHall"
                [disabled]="!selectedDate"
                [(ngModel)]="selectedHallId"
                (ngModelChange)="onChangeHall($event)">
            <option *ngFor="let hallId of getAvailableHallIds(showsForDate)" [value]="hallId">{{cinemaHalls[hallId].name}}</option>
        </select>
    </div>
    <div class="movie-schedule-time">
        <label for="showTime">Time:</label>
        <select id="showTime" name="showTime"
                [disabled]="!selectedHall || !selectedHallId"
                (ngModel)="selectedShow"
                (ngModelChange)="onChangeTime($event)">
            <option *ngFor="let time of getAvailableTime(showsForDateAndHall)" [value]="time">{{time}}</option>
        </select>
    </div>
</div>
<div class="movie-tickets-cost">
    <div class="movie-tickets-cost-el tickets-count">
        <label>Tickets:</label>
        <h4>{{selectedHall?.getSelectedSeats().length}}</h4>
    </div>
    <div class="movie-tickets-cost-el tickets-cost">
        <label>Cost:</label>
        <h4>{{selectedShow?.price || 'N/A'}}</h4>
    </div>
    <div class="movie-tickets-cost-el tickets-total">
        <label>Total:</label>
        <h4>{{selectedShow?.price * selectedHall?.getSelectedSeats().length || 'N/A'}}</h4>
    </div>
    <button class="btn-secondary"
            [disabled]="selectedHall?.getSelectedSeats().length === 0"
            (click)="onBuyTickets()">
        Buy tickets
    </button>
</div>
<app-cinema-hall [cinemaHall]="selectedHall" [disabled]="!allOptionsSet()"></app-cinema-hall>
