<div>
  <app-home-actual></app-home-actual>
  <app-home-discover id="discover"></app-home-discover>
  <app-home-news id="news"></app-home-news>
  <app-home-offers id="offers"></app-home-offers>
</div>
