@import '~assets/sass/variables';

.cinema-hall {
    display: grid;
    justify-items: center;
    align-items: center;

    .hall-title{
        margin-top: 0;
    }

    .cinema-screen {
        display: grid;
        justify-items: center;
        width: 120%;
        height: 65px;
        border: solid 3px $color-primary;
        border-color: $color-primary transparent transparent transparent;
        border-radius: 100%/70px 70px 0 0;

        label {
            margin-top: 20px;
            color: $color-font-faded;
            font-size: 11px;
            font-weight: bold;
        }
    }

    .cinema-seats-container {
        display: grid;
        grid-row-gap: 20px;
        grid-auto-rows: $seat-width;

        .cinema-hall-row {
            display: grid;
            grid-template-columns: $seat-width 1fr $seat-width;
            grid-auto-flow: column;
            grid-column-gap: 10px;

            .cinema-hall-row-number{
                align-items: center;
                align-content: space-between;
                justify-items: center;
                justify-content: center;
                width: $seat-width;
                text-align: center;
            }
            .cinema-hall-row-seats {
                display: grid;
                grid-template-columns: $seat-width;
                grid-auto-flow: column;
                grid-column-gap: 10px;
                justify-content: center;
            }
        }
    }
}
