<div class="cinema-hall" *ngIf="cinemaHall">
    <div class="cinema-screen">
        <label>S C R E E N</label>
    </div>
    <div class="cinema-seats-container">
        <div class="cinema-hall-row" *ngFor="let row of cinemaHall?.rows">
            <div class="cinema-hall-row-number">{{row?.rowNumber}}</div>
            <div class="cinema-hall-row-seats">
                <app-cinema-seat
                    *ngFor="let seat of row?.seats"
                    [cinemaSeat]="seat"
                    [disabled]="disabled">
                </app-cinema-seat>
            </div>
            <div class="cinema-hall-row-number">{{row?.rowNumber}}</div>
        </div>
    </div>
</div>
