<a [routerLink]="'/movie/' + movie.id">
    <div class="movie-image-wrapper">
        <img [src]="movie.posterUrl">
        <div class="movie-rating-pill">{{movie.rating}}</div>
    </div>
    <h5 class="movie-details">{{movie.releaseDate.getFullYear()}} / {{movie.genres.join(", ")}}</h5>
    <h4 class="movie-title">{{movie.title}}</h4>
</a>
