@import '~assets/sass/variables';

a {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 35px 40px;
    align-items: start;
    //cursor: pointer;
    color: inherit;
    text-decoration: inherit;

    .movie-image-wrapper {
        display: grid;
        align-self: stretch;
        width: 100%;
        height: auto;
        position: relative;
        margin-bottom: 8px;

        img {
            align-self: stretch;
            border-radius: 10px;
            width: 100%;
        }

        .movie-rating-pill {
            position: absolute;
            bottom: -5px;
            right: -5px;
            padding: 4px 10px;
            background-color: $color-secondary;
            color: $color-font-dark;
            font-size: 12px;
            font-weight: bold;
            width: min-content;
            border-radius: 20px;
        }
    }

    h5.movie-details {
        color: $color-info;
        font-size: 12px;
        margin: 0 0 6px 0;
        align-self: stretch;
        overflow: hidden;
    }
    h4.movie-title {
        margin: 0;
        font-weight: normal;
        align-self: stretch;
    }
}
