@import '~assets/sass/variables';

:host{
    display: grid;
    width: $seat-width;
    height: $seat-width;
    margin: 0;

    input[type=checkbox]{
        position: absolute;
        opacity: 0;
    }

    input[type=checkbox]:checked {
        + label {
            background: $color-primary;
        }
    }

    input[type=checkbox]:disabled {
        + label {
            background: $color-bg-light;
            text-indent: -9999px;
            overflow: hidden;
            &:before {
                content: "";
                position: absolute;
                width: 75%;
                height: 75%;
                top: 1px;
                left: 50%;
                transform: translate(-50%, -5%);
                background: $color-bg-dark;
                border-radius: 3px;
            }
            &:hover {
                box-shadow: none;
                cursor: not-allowed;
            }
        }
    }

    label {
        display: block;
        position: relative;
        width: $seat-width;
        padding: 4px 0;
        background: $color-thin-line;
        border-radius: 5px;

        &:hover {
            cursor: pointer;
        }

    }
}
