<div class="grid-container-discover">
    <nav class="discover-movies-nav">
        <h3 class="discover-movies-title">
            Discover Movies
        </h3>
        <div class="discover-movies-nav-btns">
            <a *ngFor="let item of discoverNavMenu"
               [class]="item.active ? 'navbar-link navbar-link-active' : 'navbar-link'"
               (click)="selectMoviesSorting(item)">
                {{ item.name }}
            </a>
        </div>
    </nav>
    <div class="discover-movies-content">
        <app-movie-grid-item *ngFor="let movie of movies" [movie]="movie"></app-movie-grid-item>
    </div>
</div>
