@import '~assets/sass/variables';

.grid-container-discover{
    display: grid;
    grid-template-rows: min-content min-content;

    .discover-movies-content{
        background-color: $color-bg-dark;
        padding: $discover-movies-grid-padding;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(5, 1fr);
        grid-row-gap: #{$discover-movies-grid-padding / 2};
        grid-column-gap: $discover-movies-grid-padding;
    }
}
nav.discover-movies-nav{
    padding: 0 $discover-movies-grid-padding;
    margin-bottom: 20px;
    align-self: start;
    justify-self: stretch;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-content: center;

    .discover-movies-title{
        align-self: stretch;
        justify-self: stretch;
        justify-content: start;
        align-content: center;
        grid-column: 1 / span 1;
    }
    .discover-movies-nav-btns{
        align-self: stretch;
        justify-self: center;
        display: grid;
        grid-column: 2 / span 1;
        grid-column-gap: 20px;
        grid-template-columns: repeat(3, max-content);
        justify-items: end;

        .navbar-link {
            font-family: $font-stack;
            color: $color-font-faded;
            text-align: center;
            padding: 20px 16px;
            text-decoration: none;
            cursor: pointer;
        }
        .navbar-link:hover:not(.navbar-link-active) {
            color: $color-font-main;
        }
        .navbar-link-active {
            border-bottom: $color-primary solid 3px;
            font-weight: bold;
            color: $color-font-main !important;
        }
    }
}

@media screen and (max-width: $screen-small) {
    .grid-container-discover {
        .discover-movies-content {
            padding: $discover-movies-grid-padding-sm;
            grid-template-columns: repeat(4, 1fr);
            grid-row-gap: #{$discover-movies-grid-padding-sm / 2};
            grid-column-gap: $discover-movies-grid-padding-sm;
        }
    }
    nav.discover-movies-nav {
        padding: 0 $discover-movies-grid-padding-sm;
        grid-template-columns: 1fr 1fr;
        .discover-movies-nav-btns {
            justify-self: end;
        }
    }
}

@media screen and (max-width: $screen-mobile) {
    .grid-container-discover {
        .discover-movies-content {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    nav.discover-movies-nav {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 0;
        justify-content: center;
        .discover-movies-title{
            justify-self: center;
            grid-column: 1 / span 1;
            grid-row: 1 / span 1;
        }
        .discover-movies-nav-btns{
            grid-column: 1 / span 1;
            grid-row: 2 / span 1;
            justify-self: center;
        }
    }
}
