<div class="grid-container-center not-found-container">
    <h1>Ooops... Page not found!</h1>
    <img src="https://media.giphy.com/media/6uGhT1O4sxpi8/giphy.gif">
    <h2>The page you are looking for could not be found</h2>
</div>
