<nav [class.mobile]="isMobileNav()" role="navigation">
    <div class="nav-top">
        <div class="nav-brand" routerLink="/home">
            <i class="material-icons">local_movies</i>
            <label>Cracker Cinema</label>
        </div>
        <a class="menu-btn" href="javascript:void(0);" (click)="toggleNavBarMenu()"><i class="material-icons">menu</i></a>
    </div>
    <a class="navbar-link" routerLink="/home" routerLinkActive="navbar-link-active" (click)="toggleNavBarMenu()">Home</a>
    <a class="navbar-link" href="home#discover" (click)="toggleNavBarMenu()">Discover</a>
    <a class="navbar-link" href="home#news" (click)="toggleNavBarMenu()">News</a>
    <a class="navbar-link" href="home#offers" (click)="toggleNavBarMenu()">Special Offers</a>
    <a class="navbar-link" routerLink="/movies" routerLinkActive="navbar-link-active" (click)="toggleNavBarMenu()">Movies this week</a>
    <a class="btn-primary" routerLink="/auth" (click)="toggleNavBarMenu()">Login or Register</a>
</nav>
