@import '~assets/sass/variables';
nav {
    display: flex;
    align-items: baseline;
    list-style: none;
    margin: 0 8px;
    overflow: hidden;
    border-bottom: rgba(255, 255, 255, 0.15) solid 1px;

    .nav-fixed{ // For fixed nav bar
        position: fixed;
        background-color: $color-bg-main;
        top: 0;
        width: 100%;
    }
    .nav-top{
        margin-right: auto;
        display: flex;
        align-self: center;
        flex-direction: row;
        align-items: center;
    }
    .menu-btn{
        display: none;
        font-family: $font-stack;
        color: $color-font-faded;
        text-align: center;
        padding: 15px 10px;
        text-decoration: none;
        cursor: pointer;
        margin-left: auto;
    }
    .nav-brand{
        display: flex;
        align-items: center;
        align-self: center;
        font-size: 24px;
        font-weight: 100;
        padding: 15px 10px;
        outline: none !important;
        border: none;

        :hover {
            cursor: pointer;
        }

        .material-icons{
            margin-right: 3px;
            margin-bottom: -1px;
        }
        label{
            font-family: $font-stack;
            color: $color-font-main;
            text-decoration: none;
        }
    }
    .navbar-link {
        font-family: $font-stack;
        color: $color-font-faded;
        text-align: center;
        padding: 26px 18px;
        text-decoration: none;
        cursor: pointer;
    }
    .navbar-link:hover:not(.navbar-link-active) {
        color: $color-font-main;
    }
    .navbar-link-active {
        border-bottom: $color-primary solid 3px;
        font-weight: bold;
        color: $color-font-main !important;
    }
}
.btn-primary{
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    color: inherit;
    text-align: center;
    margin: 0 10px 0 15px;
    padding: 10px 24px;
    text-decoration: none;
    border-radius: 50px;
    background-color: $color-primary;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: $color-primary-active;
}

@media screen and (max-width: $screen-small) {
    nav .nav-top{
        width: 100%;
    }
    nav a.navbar-link, nav a.btn-primary{
        display: none;
    }
    nav a.menu-btn{
        display: flex;
    }
    nav.mobile{
        flex-direction: column;
        align-items: stretch;
        text-align: center;
        background-color: $color-bg-main;
        margin: 0;

        a.menu-btn{
            margin-right: 8px;
        }
        .nav-brand{
            margin-left: 8px;
        }
        .navbar-link{
            border-bottom: rgba(255, 255, 255, 0.15) solid 1px;
            padding: 15px;
            display: block;
        }
        .navbar-link-active{
            background-color: $color-bg-light;
        }
        .btn-primary{
            padding: 15px;
            margin: 0;
            border-radius: 0;
            display: block;
        }
    }
}
