@mixin gradient-l2r{
    background: linear-gradient(to left, rgba(14,24,55,0) 0%,rgba(14,24,55,1) 100%);
}

@mixin gradient-r2l{
    background: linear-gradient(to right, rgba(14,24,55,0) 0%,rgba(14,24,55,1) 100%);
}

@mixin grid-container-center{
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

@mixin margin-8{
    margin: 8px;
}
