@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$font-stack: 'Oxygen', 'Open Sans', Helvetica, Arial, sans-serif;

// Colors
$color-bg-main: #0e1837;
$color-bg-light: #232d4e;
$color-bg-dark: #091434;
$color-primary: #db5c6a;
$color-primary-active: #cc4c5b;
$color-font-main: #f7f7f7;
$color-font-faded: #dadada;
$color-thin-line: rgba(255, 255, 255, 0.5);
$color-font-dark: #000000;
$color-secondary: #d7b444;
$color-info: #399d5e;
$color-info-active: #398e58;

// Indents
$discover-movies-grid-padding: 60px;
$discover-movies-grid-padding-sm: 30px;

// Screen sizes for media queries
$screen-small: 1010px;
$screen-mobile: 580px;

// Cinema hall seats width
$seat-width: 24px;
