@import 'variables';
@import 'mixins';

body{
    background-color: $color-bg-main;
    color: $color-font-main;
    font-family: $font-stack;
    margin: 0;
    //margin: 84px 0 8px 0; // For fixed nav bar
}
@media screen and (max-width: $screen-small) {
    body{
        //margin: 70px 0 8px 0; // For fixed nav bar
    }
}

.margin-8{
    @include margin-8;
}

.grid-container-center{
    @include grid-container-center;
}
.test-block{
    height: 50vh;
    border: solid 1px white;
}
